<div class="container">
  <h1>List of cocktails</h1>
      <%= link_to "Add a new Cocktail", new_cocktail_path, class: 'btn btn-primary' %>
  <br>
  <br>
  <div class="container">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo %>')">
          <h4><%= link_to cocktail.name, cocktail_path(cocktail)%></h4>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>



